* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



body {
    justify-content: space-between;
}

.backg {
    background-repeat: no-repeat;
}


.título {
    background-color:  rgb(124, 121, 122);
    color: white;
    text-align: center;
    font-size: 22px;
    font-style: italic;
    }


aside {    
        border-right: 1px dotted rgb(196, 196, 196);
        width: 40%;
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }



main {
        margin: 20px 20px;
        width: 60%;
        display: flex;
        flex-direction: column;
    }

#divPai {
    display: flex;
    margin-top: 20px;
}
.carousel {
    width: 90%;
    margin-left: 25px;
}

.carousel-indicators {
    position: relative;
}

.carousel-indicators li {
    width: 60px;
    height: 45px;
}

h3 {
    font-size: 35px;
    text-align: center;
    font-family: 'Marck Script', cursive;
}

form {
    display: block;
    justify-content: center;
    margin-left: 150px;
}

form h5 {
    margin-left: 160px;
}

footer {
    display: flex;
}

.btn,
.nav-item:last-child {
    background-color: #f64d6b;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;   
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn:hover,
.nav-item:last-child:hover {
    color: #fff;
}

.navbar {
    background-color: white;
} 