* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jumbotron {
    background-color: #F64D6B;
    color: white;
}

.imagemcad {
    float: top left;
    margin: 0px 10px 10px 0;
}

.btn,
.nav-item:last-child {
    background-color: #f64d6b;
    color: white;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid;   
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn:hover,
.nav-item:last-child:hover {
    color: #fff;
}

.navbar {
        background-color: white;
}

#containerlista {
    max-width: 1350px;
}