.jumbotron{
    background-color: #F64D6B;
    color: white;
    
}

.imagemcad{

    float: top left;
    margin: 0px 10px 10px 0;
    
   
}

.quero{
    border-radius: 20px;
    border-radius: 20px;
    border-radius: 20px;
    color: #000000;
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    background-color: #F64D6B;
    border: solid #F64D6B 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    }

    .saiba{
        background-color: #F64D6B;
        color: black;
    }